@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap&subset=cyrillic");
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}

*::-moz-selection {
  background: #2c3e50;
  color: #ecf0f1;
}

*::selection {
  background: #2c3e50;
  color: #ecf0f1;
}

body {
  background-color: #ecf0f1;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.nav {
  margin: 2rem 0;
}

.nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.nav__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.nav__input {
  border: 1px solid #2c3e50;
  padding: .3rem .5rem;
  width: 80%;
  margin-right: 1rem;
  background-color: #ecf0f1;
  color: #2c3e50;
}

.nav__input:hover {
  border-color: #1a252f;
}

.nav__button {
  padding: .3rem 1.5rem;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.nav__button:hover {
  background-color: #354b60;
  border-color: #354b60;
  cursor: pointer;
}

.nav__refresh:disabled {
  background-color: #ecf0f1;
  color: #2c3e50;
  cursor: not-allowed;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid #2c3e50;
  -webkit-box-shadow: 0 3px 10px rgba(44, 62, 80, 0.4);
  box-shadow: 0 3px 10px rgba(44, 62, 80, 0.4);
  background-color: #ecf0f1;
}

.header__name {
  font-size: 1.5rem;
  color: #2c3e50;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-top: 2px solid #2c3e50;
  -webkit-box-shadow: 0 -3px 10px rgba(44, 62, 80, 0.4);
  box-shadow: 0 -3px 10px rgba(44, 62, 80, 0.4);
  background-color: #ecf0f1;
  z-index: 2;
}

.footer__name {
  font-size: 1.5rem;
  color: #2c3e50;
}

.content {
  margin: 1rem 0;
  position: relative;
}

.content__loader {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  background-color: #ecf0f1;
  z-index: 1;
}

.content__loader img {
  display: block;
  margin: 4rem auto 18rem;
}

.content__out {
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.content__gif {
  position: relative;
  width: -webkit-calc((100% / 4) - (3rem / 4));
  width: calc((100% / 4) - (3rem / 4));
  max-height: 273.5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #2c3e50;
  -webkit-box-shadow: 0 14px 28px rgba(44, 62, 80, 0.4), 0 3px 10px rgba(44, 62, 80, 0.4);
  box-shadow: 0 14px 28px rgba(44, 62, 80, 0.4), 0 3px 10px rgba(44, 62, 80, 0.4);
  background-color: #ecf0f1;
  overflow: hidden;
}

.content__gif:nth-child(4n) {
  margin-right: 0;
}

.content__gif:hover {
  -webkit-box-shadow: 0 14px 28px rgba(44, 62, 80, 0.6), 0 3px 10px rgba(44, 62, 80, 0.6);
  box-shadow: 0 14px 28px rgba(44, 62, 80, 0.6), 0 3px 10px rgba(44, 62, 80, 0.6);
  border-color: #1a252f;
}

.gif__figure {
  text-align: center;
}

.gif__img {
  width: 100%;
  height: 269.5px;
}

.gif__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.gif__name::-moz-selection {
  background: #ecf0f1;
  color: #2c3e50;
}

.gif__name::selection {
  background: #ecf0f1;
  color: #2c3e50;
}

.gif__info-button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  background-color: #2c3e50;
  color: #ecf0f1;
  border: none;
  padding: 0 .5rem;
}

.gif__info-button:hover {
  background-color: #ecf0f1;
  color: #2c3e50;
  cursor: pointer;
}

.gif__info {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 62, 80, 0.5);
  width: 100%;
  height: 100%;
}

.gif__size {
  text-align: center;
  color: #ecf0f1;
  margin-bottom: 1rem;
}

.gif__button {
  display: block;
  margin: 0 auto;
  padding: .3rem 1.5rem;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.gif__button:hover {
  background-color: #354b60;
  border-color: #354b60;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .content__loader img {
    margin-bottom: 33rem;
  }

  .gif {
    width: -webkit-calc((100% / 3) - (2rem / 3));
    width: calc((100% / 3) - (2rem / 3));
  }

  .gif:nth-child(n) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .gif:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .content__loader img {
    margin-bottom: 48rem;
  }

  .gif {
    width: -webkit-calc((100% / 2) - (1rem / 2));
    width: calc((100% / 2) - (1rem / 2));
  }

  .gif:nth-child(n) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .gif:nth-child(2n) {
    margin-right: 0;
  }

  .nav__form {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .content__loader img {
    margin-bottom: 108rem;
  }

  .nav__form {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .nav__input {
    width: 100%;
  }

  .nav__refresh {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 320px;
    padding: .75rem;
  }

  .nav {
    margin: 2rem 0 1rem;
  }

  .content__out {
    margin-bottom: 3rem;
  }

  .gif {
    width: 100%;
  }

  .gif:nth-child(n) {
    margin: 0 0 1rem;
  }

  .nav__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav__input {
    margin-bottom: 1rem;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #2c3e50;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-animation: pulse 3s ease-in-out infinite;
  animation: pulse 3s ease-in-out infinite;
  z-index: 10;
  visibility: visible;
}

.progress-bar.done {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  visibility: hidden;
  width: 0 !important;
}

@-webkit-keyframes pulse {
  to {
    background-color: #2c3e50;
  }

  50% {
    background-color: #698bac;
  }

  from {
    background-color: #2c3e50;
  }
}

@keyframes pulse {
  to {
    background-color: #2c3e50;
  }

  50% {
    background-color: #698bac;
  }

  from {
    background-color: #2c3e50;
  }
}