* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;

  &::selection {
    background: $theme-color;
    color: $sub-color;
  }
}

body {
  background-color: $sub-color;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hide {
    display: none;
}
